node_modules
.vscode
supabase
coverage
tests
src/generated
dist

serviceAccountKey.json
tsconfig.eslint.json

.env
.env.*
.git
.gitignore
.dockerignore
.prettierrc
.prettierignore
.eslintignore

*.log
*.md
eslint.config.ts
vitest.config.ts
Dockerfile
Dockerfile.*
docker-compose*.yml
